:root{
    @font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
}

/* ==========================================================  TitleArea  ========================================================== */

.titleArea .title {
    display:flex;
    flex-flow : column nowrap;
    justify-content : flex-start;
    align-content: flex-start;
    gap: 20px;
    width:100%;
    max-width:1760px;
    margin: 0 auto;
    border-bottom:1px solid #000;
}
.titleArea .title h2 {
	margin:0 0;
	line-height: 1.0;
    font-family: "GMarketSans";
    color:#222 !important;
    margin-bottom: 20px;
}
.titleArea .title h2 > font {
	line-height: 1.0;
    color:#222;
}
.titleArea .title p {
    max-width:fit-content !important;
    margin: 0 0;
    font-size:24px;
    font-family: "GMarketSans";
    color:#222;
    margin-bottom:50px;
}

#container #contents .titleArea {
    border-bottom: 0px !important;
}

/*  ========================================================== Flex-Wrapper ==========================================================  */

.flex-wrapper{
	width : 100%;
    max-width:1760px;
    margin : 0 auto;
}

/* ========================================================== Swiper ========================================================== */

.swiper {
    margin-top:20px;
    padding-bottom:50px;
	margin-bottom:50px;
    border-bottom:1px solid #aaa;
}

.swiper h1 {
    font-size:32px;
    font-family: "GMarketSans";
    font-weight:300;
    margin-bottom:30px;
    border-bottom:1px solid #000;
    width:fit-content;
    padding: 0 0 20px 0;
    text-transform: uppercase;
}

/* ========================================================== Swiper-wrapper ========================================================== */

.swiper .swiper-wrapper {
}

.swiper .swiper-wrapper .swiper-slide {
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    gap: 20px;
}

.swiper .swiper-wrapper .swiper-slide > img {
    border-radius:20px;
    border : 1px solid #aaa;
}

.swiper .swiper-wrapper .swiper-slide > p {
    font-size:16px;
    font-family: "GMarketSans";
    font-weight:300;
}